<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Post</title>
</head>

<body>
    <h1>Add New Post!</h1>
    <form action="/" method="post">
        <label for="postTitle">Title : </label>
        <input type="text" name="postTitle" id="postTitle" placeholder="Title">
        <br>
        <label for="postWriter">Writer : </label>
        <input type="text" name="postWriter" id="postWriter" placeholder="Writer">
        <br>
        <label for="postContent">Content : </label>
        <textarea name="postContent" id="postContent" rows="10" cols="30" placeholder="Type Your Story"></textarea>
        <br>
        <label for="postEmail">Email : </label>
        <input type="text" name="postEmail" id="postEmail" placeholder="Email">
        <br>
        <button>Add</button>
        <a href="/">back</a>
    </form>
</body>

</html>